In [17]:
import random
import pandas as pd

real_company_list_str = "가이오산전,게임파크,광동제약,고려이앤씨,국도화학,국순당,국정교과서,교보문고,교보생명보험,교원그룹,교학사,국민은행,국민일보,국수나무,귀뚜라미,그라비티,큰길,그랜드마트,그랜드백화점,그랜드애플,그린스토어,금복주,금호리조트,금호산업,금호석유화학,금호아시아나그룹,금호타이어,기륭전자,기아,현대자동차그룹,광동제약,경향신문,나라케이아이씨,나이스신용평가,나이스평가정보,남양유업,남해화학,네오위즈홀딩스,네이버,넥센타이어,넥슨,넷마블게임즈,넷피아,뉴스타운,뉴데일리,노컷뉴스,노피어 레코즈,녹십자,농심,농심켈로그,농협,다나와,더달콤,더블랙레이블,더파티,다모아자동차,다솜투어,다이소아성산업,단성사,드돔,드마리스,대구텍,대동공업,대림산업,대신증권,대상그룹,대성산업,대성출판,대우건설,대우전자부품,대웅제약,대원강업,대원교통,대원씨아이,대한극장,대한제분,대한타이어,대한통운,대한항공,한진그룹,데일리안,디엔에이링크,디지틀조선,도미노피자,도원교통,동국제강,동부건설,동부제철,동서식품,동성제약,동아운수,동아제약,동원건설,동양시멘트,동일방직,동화약품,동해도,두산그룹,두산건설,두산동아,두산인프라코어,대우중공업,두산중공업,듀오정보,라사라패션디자인전문학교,라이프스퀘어,락앤락,로보아이티,로엔 엔터테인먼트,로윈,로케트전기,롯데그룹,롯데글로벌로지스,롯데관광개발,롯데면세점,롯데백화점,롯데쇼핑,롯데제과,롯데지알에스,롯데지주,롯데정밀화학,롯데칠성음료,롯데카드,롯데푸드,롯데호텔,롯데하이마트,룰러바이,르까프,르노삼성자동차,메가마트,메가박스,메가스터디,메디케어그룹,메리츠화재해상보험,매그나칩,모나미,모드 크리에이션 뮌헨,모두투어,무림 그룹,무학,문화방송,문화일보,문화창고,미래산업,미래에셋,미래엔,미샤,마린칸토,명동할머니국수,명문제약,명화공업,반도일렉트로닉시스템스,벡셀,벽산그룹,보광그룹,부광약품,부방 테크론,부산교통공사,부산은행,비상에듀,비씨카드,빅히트 엔터테인먼트,빙그레,범양건영,반도그룹,반디앤루니스,새하컴즈,삼성그룹,삼성SDS,삼성그룹,삼성그룹,삼성물산,삼성디스플레이,삼성선물,삼성생명,삼성엔지니어링,삼성자산운용,삼성전기,삼성전자,삼성전자로지텍,삼성전자서비스,삼성전자판매,삼성증권,삼성카드,삼성화재,삼양사,삼양식품,삼양화학,삼우종합건축사사무소,삼익,삼익악기,삼일제약,삼진제약,삼천리 자전거,삼표시멘트,삼화고속,삼화네트웍스,삼화상운,서부운수,서울교통공사,서울메트로,서울도시철도공사,서울극장,서울식품공업,서울신문,서호전기,서희건설,선우 (기업),선진운수,설빙 (기업),성광밴드,성신양회,생생돈까스,셀트리온,소담국수,소방방재신문,손오공 (기업),송원산업,송추가마골,스킨푸드,스톤뮤직 엔터테인먼트,스튜디오드래곤,스튜디오애니멀,스타일난다,스파오,스프리스,시너지이노베이션,신라면세점,신세계,신세계백화점,신세계 사이먼,신성교통,신한은행,신화철강,심엔터테인먼트,샘표 (기업),세번걸이 엔터테인먼트,세븐시즌스,세아그룹,세아베스틸,씨그널엔터테인먼트그룹,씨제스엔터테인먼트,아모레퍼시픽,아사달 (기업),아시아 시멘트,아시아나항공,아시아펀드,아이덴티티 게임즈,아이리버,아진산업,아진카인텍,아진USA,아이코닉스 엔터테인먼트,아주그룹,아주캐피탈,아프리카TV,안다미로,안랩,안산도시공사,알콩단잠,어셔교육그룹,어울림모터스,에너자이저 코리아,에스알,에스원,에쓰오일,에이스침대,에이스화학,엔씨소프트,에듀스파,애경그룹,애경산업,양평기업,연합뉴스,영남일보,영림몰딩,영안모자,영원무역,영진약품,영풍문고,엔씨소프트,엘본더테이블,예림당,오뚜기,오리온,오르비스 옵티무스,오콘,오토아이티,옥션,우리들제약,우리은행,우리아비바생명,우리카드,우리투자증권,우신산업,우신USA,우진공업사,웅진그룹,웅진식품,울림엔터테인먼트,윕스,워커힐,월간조선,용평리조트,유성기업,유수홀딩스,유안타증권,유진그룹,유진콘크리트,유한양행,유화증권,육대장,윤선생영어교실,이랜드그룹,이브니에,이브바바,이마트,이브자리,이수그룹,이수화학,이스트소프트,이스타항공,이투스교육,이화수전통육개장,인천교통공사,인천국제공항공사,인크룩스,인터파크,일간스포츠,일동제약,잉카인터넷,비에스에치,전북은행,자일대우버스,제주은행,제주항공,제일기획,제일병원,제일여객,제일항역,정수장학회,조광피혁,조선일보,종근당그룹,좋은책신사고,주노컴퍼니,기업은행,중앙일보,중앙건설,중흥건설,중흥토건,지비스타일,첨이첨이,무냐무냐,오끼오,진우그룹,천재교육,코스콤,코오롱그룹,코오롱건설,코오롱글로벌,코오롱인더스트리,코원시스템,코지이지,쿠우쿠우,쿠쿠전자,쿠팡,카카오 (기업),카카오트리,대우전자,대우조선해양,큐브 엔터테인먼트,크라운제과,크래프톤,카프로,키스웰그룹,키움증권,키위미디어그룹,태광그룹,토토와모모,통일그룹,티몬,티웨이항공,태영건설,태양금속공업,파라다이스,파리바게뜨,파자마걸,판타그램,팬택계열,펜타비전,포스코,포스코건설,포스코강판,포스코대우,포스코플랜텍,풀무원,프라우나,프로스펙스,프로토자동차,피에스타,피자헛,풍산홀딩스,하나금융그룹,하나대투증권,하나카드,하나투어,하이트진로홀딩스,한겨레신문,한국거래소,한국가스공사,한국교육방송공사,한국공항공사,한국농어촌공사,한국도로공사,한국방송공사,한국방송광고진흥공사,한국산업은행,한국수자원공사,한국스탠다드차타드은행,한국일보,한국야쿠르트,한국은행,한국전자금융,한국전력공사,한국철도공사,한국타이어,한국토지공사,한국투자증권,한국화장품,한국화장품제조,한글과컴퓨터,한라그룹,한미약품,한솔그룹,한솔제지,한솔케미칼,한신공영,한양증권,한울바이오파마,한일합섬,한진그룹,한진중공업,한진칼,한진해운,한창제지,한화그룹,한화갤러리아타임월드,한화생명,한화손해보험,한화에어로스페이스,한화케미칼,한화투자증권,해태제과식품,현대건설,현대그룹,현대글로비스,현대로템,현대모비스,현대오일뱅크,현대엘리베이터,현대산업개발,현대자동차그룹,현대중공업그룹,현대증권,현대카드,현대해상,협동공업사,호반건설,호텔신라,홈플러스,효성,휠라,휴맥스,휘닉스파크,흥국생명"
real_company_list = real_company_list_str.split(",")
random.shuffle(real_company_list)
print("총 회사수 : {}".format(len(real_company_list)))
result = []
for idx, company_name in enumerate(real_company_list):
    company_name = company_name.replace(" (기업)", "").replace("기업", "")
    if idx > 0:
        rand_no = random.randrange(0, len(real_company_list[idx-1]))
        rand_no_for_change = random.randrange(0, 2)
        company_name_new = list(company_name)
        company_name_new[rand_no_for_change] = real_company_list[idx-1][rand_no]
        company_name_new = "".join(company_name_new)
        result.append({"고객사명" : company_name_new})
#         print("company_name_new : {}, company_name : {}, 이전 회사명 : {}".format(company_name_new, company_name, real_company_list[idx-1]))
df = pd.DataFrame(result)
df

총 회사수 : 477

        고객사명
0      넥과타이어
1    센선생영어교실
2      교간스포츠
3       스산동아
4       안두미로
..       ...
471     프육우나
472  삼나엔지니어링
473     비삼카드
474    카림 그룹
475     연림뉴스

[476 rows x 1 columns]

In [18]:
import random
import string
import pandas as pd
from korean_name_generator import namer

def make_random_string():
    str_length = random.randrange(4,9)
    string_pool = string.ascii_lowercase
    result = ""
    for i in range(str_length):
        result += random.choice(string_pool)
    return result

for i in range(len(df)):
    this_name = namer.generate(True).replace("혀", "현")
    df._set_value(i, "담당자", this_name)
    df._set_value(i, "담당자 이메일","{}@{}.kr".format(make_random_string(), make_random_string()))
df.to_excel("sample_data/고객사 명단.xlsx", index=False)
df

        고객사명  담당자              담당자 이메일
0      넥과타이어  강기하      yowethc@yymg.kr
1    센선생영어교실  장유색       qjkjs@yskxb.kr
2      교간스포츠  이찬하        uprs@ptqxp.kr
3       스산동아  박지섭   cdrdxehf@zbezlr.kr
4       안두미로  임미하         xopu@zncw.kr
..       ...  ...                  ...
471     프육우나  정지하        kkzy@jlwdw.kr
472  삼나엔지니어링  고기석  jiauecx@zaowrkrl.kr
473     비삼카드  박의하        bgvzp@ebpn.kr
474    카림 그룹  김성하   oloqxeh@zpdgejf.kr
475     연림뉴스  이수성       sdcff@nixbf.kr

[476 rows x 3 columns]

In [19]:
from openpyxl import load_workbook
from openpyxl.styles import Font, PatternFill, Alignment, Side, Border

wb = load_workbook("sample_data/고객사 명단.xlsx")
ws = wb["Sheet1"]

fill_style = PatternFill(fill_type="solid", start_color="ffd663") #셀 배경색 설정 객체 생성
font_style = Font(color="000000", sz=12, bold=True) #폰트 설정 객체 생성
alignment_style = Alignment(horizontal= "center", vertical = "center")
side = Side(color="CCCCCC", border_style="medium")
border_style = Border(
    left = side,
    right = side,
    top = side,
    bottom = side,
)

for row in ws:
    for col in row:
        col.alignment = alignment_style
        col.border = border_styles
        if col.row == 1:
            col.fill = fill_style
            col.font = font_style

for i in range(1, len(df)+2):
    ws.row_dimensions[i].height = 24 #row_dimensions[숫자] → 숫자행 전체를 선택

ws.column_dimensions["A"].width = 40
ws.column_dimensions["B"].width = 15
ws.column_dimensions["C"].width = 30

wb.save(filename = "sample_data/고객사 명단.xlsx")